.ModalBackground {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif; 

  }