.TodoCounter {
  font-size: 2rem;
  
}
/* HEX: #cfe0e8
HEX: #b7d7e8
HEX: #87bdd8
HEX: #daebe8 */

/* .TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
  } */