.TodoSearch {
  background-color: #daebe8;
  text-align: center;
  margin: 0 50px;
  padding: 10px 0;
  font-size: 1.5rem;
  border-radius: 7px;
  border: 2px solid #daebe8; 
}


.TodoSearch:focus {
    outline: none; 
    border: 2px solid white;
    /* box-shadow: 0 0 5px #ebbed4; */
}

@media(min-width: 800px){
  .TodoSearch{
    margin: 0 70px;
  }
}

@media(min-width: 1000px){
  .TodoSearch{
    margin: 0 130px;
  }
}

@media(min-width: 1200px){
  .TodoSearch{
    margin: 0 190px;
  }
}

@media(min-width: 1400px){
  .TodoSearch{
    margin: 0 200px;
  }
}

/* .TodoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }
  
  .TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: #61DAFA;
  } */